<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.help_pets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpPets">
        <activity android:name=".dietas"></activity>
        <activity android:name=".registromascotas" />
        <activity android:name=".vacunas" />
        <activity android:name=".alertaayuda" />
        <activity android:name=".hamsters" />
        <activity android:name=".peces" />
        <activity android:name=".aves" />
        <activity android:name=".gatos" />
        <activity android:name=".perros" />
        <activity android:name=".mascotas" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>